body {
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
  background: url(./img/wallpaper_pattern.png) repeat;
  background-size: 30%;
}

h2 {
  font-family: "Zilla Slab", serif;
}

input {
  outline: none;
}
