body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  background: url(./img/wallpaper_pattern.png) repeat;
  background-size: 30%;
}

h1,
h2 {
  font-family: "Zilla Slab", serif;
}

input {
  outline: none;
}
.logo-div {
  height: 20vh;
}
.logo {
  height: 20vh;
  pointer-events: none;
}
.search-div {
  height: 10vh;
}

.scroll-div {
  height: 65vh;
}

.phrase {
  font-family: " Balsamiq Sans", cursive;
}

img {
  max-width: 256px;
}
